{{ define "main" }}

<div class="container">
  <div class="center">
    <div class="block text-center">
      <br />
      <h1><div id="_404text">Oops!</div></h1>
      <br />
      <h3>
        Either that was a typo or you're looking for something that is not there
        - happens to the best of us 🙃
      </h3>
      <p>
        You can return to the <a href="https://www.getwizmo.app">homepage</a>,
        visit our <a href="https://www.getwizmo.app/blog">blog</a>, or check out
        any of the other links on the page for more on wizmo.
      </p>
    </div>
  </div>
</div>
<br />

<style type="text/css">
  #_404text {
    font-family: Manrope;
    font-size: 4em;
    font-weight: 800;
    color: #02403d;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
  }
</style>

{{ end }}
